<h1>Bus #<%= @line.line_number %></h1>

Stations :

</br>
<%= link_to "Edit", edit_line_path(@line), :class => 'btn btn-success' %>
<%= link_to "Delete", line_path(@line),
                      :line => "You sure?",
                      :method => "delete",
                      :class => "btn btn-danger" %>

